$text_size: 17px;
$text_color: #343a40;
$text_hover_color: #3F0071;
$text_nav: #ffffff;
$text_product_size: 14px;
$text_title_color: lightsalmon;


.contain_product_page {
    padding: 150px 0 30px;
    background-color: #f5f5f5;

    
}